.home {
  &-banner {
    background: url('/assets/images/bg_home.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &-col {
      padding: 52px 86px;
    }
  }
  &-advantage {
    height: 615px;
    &-bg {
      &-1 {
        background: url('/assets/images/info01.jpg');
        background-color: rgba(0, 0, 0, .6);
      }
      &-2 {
        background: url('/assets/images/info02.jpg');
      }
      &-3 {
        background: url('/assets/images/info03.jpg');
      }
      &-4 {
        background: url('/assets/images/info04.jpg');
      }
    }
  }
  &-feedback {
    background: url('/assets/images/bg_share.jpg');
    height: 733px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.text-gradient {
  background: linear-gradient(180deg, #09ACF5, #62DB54);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(180deg, #09ACF5, #62DB54);
}

.custom-border {
  &::after {
    content: '';
    width: 50px;
    border: 3px solid #62DB54;
    display: block;
    margin-top: 16px;
  }
}

.custom-border-center {
  &::after {
    content: '';
    width: 50px;
    border: 3px solid #62DB54;
    display: block;
    margin: 16px auto 0 auto;
  }
}

.custom-border-white {
  &::after {
    content: '';
    width: 50px;
    border: 3px solid white;
    display: block;
    margin-top: 16px;
  }
}

.home-feature .material-icons {
  font-size: 40px;
}

.home-join .material-icons {
  font-size: 80px;
}

.home-card-img {
  width: 100px;
}
.home-card-title {
  min-height: 48px;
}

li, ul {
  list-style: none;
  margin-bottom: 0;
}