.home {
  &-banner {
    background: url('/assets/images/bg_home.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &-col {
      padding: 52px 86px;
    }
    &-square {
      width: 10px;
      height: 10px;
      background-color: #fff;
    }
  }
  &-advantage {
    height: 615px;
    &-bg {
      &-1 {
        background: url('/assets/images/info01.jpg');
        background-color: rgba(0, 0, 0, .6);
      }
      &-2 {
        background: url('/assets/images/info02.jpg');
      }
      &-3 {
        background: url('/assets/images/info03.jpg');
      }
      &-4 {
        background: url('/assets/images/info04.jpg');
      }
    }
  }
  &-feedback {
    background: url('/assets/images/bg_share.jpg');
    height: 733px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &-card {
      background: #fff;
      border-radius: 24px 24px 24px 0;
      margin-left: -80px;
      margin-bottom: -48px;
    }
  }
  &-article {
    &-squareRounded {
      display: none;
      width: 32px;
      height: 32px;
      &-topLeft {
        border-top: 1px solid #62DB54;
        border-left: 1px solid #62DB54;
        border-top-left-radius: 10px;
      }
      &-topRight {
        border-top: 1px solid #62DB54; 
        border-right: 1px solid #62DB54;
        border-top-right-radius: 10px;
      }
      &-bottomLeft {
        border-bottom: 1px solid #62DB54;
        border-left: 1px solid #62DB54;
        border-bottom-left-radius: 10px;
      }
      &-bottomRight {
        border-bottom: 1px solid #62DB54;
        border-right: 1px solid #62DB54;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.home-article:hover {
  .home-article-squareRounded {
    display: block;
  }
}

.home-feature .material-icons {
  font-size: 40px;
}

.home-join .material-icons {
  font-size: 80px;
}

.home-card-img {
  width: 100px;
}

.home-feedback-card img {
  width: 100px;
}

.home-card-title {
  min-height: 60px;
}
.home-article-description {
  min-height: 75px;
}