.checkout {
  section {
    min-height: calc(100vh - 68px - 113px - 72px);
  }
  &-paddingCustom {
    padding-bottom: 40px;
    @include media-breakpoint-up(lg) {
      padding-bottom: 144px;
    }
  }
  &-card {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid $gray-dark;
      left: 50%;
      bottom: -12px;
      @include media-breakpoint-up(lg) {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid $gray-dark;
        top: 50%;
        left: 100%;
        right: -24px;
      }
    }
    @include media-breakpoint-up(lg) {
      margin-right: -80px;
      margin-top: 120px;
    }
    img {
      width: 100px;
    }
  }
  &-register {
    padding-left: 24px;
    padding-right: 24px;
    @include media-breakpoint-up(lg) {
      padding-left: 110px;
      padding-right: 32px;
    }
    li {
      cursor: pointer;
    }
  }
  &-payment {
    column-gap: 8px;
    row-gap: 8px;
    @include media-breakpoint-up(lg) {
      column-gap: 16px;
      row-gap: 0;
    }
    li {
      flex-basis: 48%;
      @include media-breakpoint-up(lg) {
        flex: 1;
      }
    }
  }
  button {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }
}

.form-control, .form-control:focus, .form-select, .form-select:focus {
  border-color: $white;
  background-color: transparent;
  color: $light;
}

.form-control::placeholder {
  color: $light;
}

.datepicker-cell:not(.disabled):hover {
  background-color: #e8e8e8;
}

.datepicker-cell.selected, .datepicker-cell.selected:hover {
  background-color: #e8e8e8;
  color: $black;
}