<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="bg-gray-darker position-relative">
      <div class="container">
        <div class="navbar navbar-expand-lg">
          <a class="navbar-brand d-flex align-items-end text-light" href="index.html">
            <img src="./assets/images/logo2.svg" width="42" height="42" class="d-inline-block align-top me-3" alt="logo">
            Coding Home|
          </a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="material-icons text-primary">drag_handle</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 text-center">
              <li class="nav-item px-1 py-1">
                <a class="nav-link" href="index.html">首頁</a>
              </li>
              <li class="nav-item px-1 py-1">
                <a class="nav-link" href="#">課程介紹</a>
              </li>
              <li class="nav-item px-1 py-1">
                <a class="nav-link d-flex justify-content-center" href="#">
                  <span class="material-icons me-1">
                    account_circle
                  </span>登入</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="text-center py-4 bg-dark text-gray-light">
      Coding Home © 2022 All Rights Reserved
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>