.text-gradient-custom {
  background: linear-gradient(180deg,#09ACF5, #62DB54);
  /* 將背景裁切成只有文字部分 */
  background-clip: text;
  /* 因為 Chrome 還沒有很好的支援度，所以要加上 webkit 前綴 */
  -webkit-background-clip: text; 
  color: transparent;
}

.bg-gradient-custom {
  background: linear-gradient(104deg,#09ACF5, #62DB54);
}

@mixin border-custom {
  content: '';
  width: 50px;
  display: block;
}

.border-custom-primary {
  &::after {
    @include border-custom;
    border: 3px solid #62DB54;
    margin-top: 16px;
  }
}

.border-custom-center {
  &::after {
    @include border-custom;
    border: 3px solid #62DB54;
    margin: 16px auto 0 auto;
  }
}

.border-custom-white {
  &::after {
    @include border-custom;
    border: 3px solid white;
    margin-top: 16px;
  }
}

.icon-small {
  font-size: 40px;
}

.icon-large {
  font-size: 80px;
}